---
interface Props {
  page: any;
}

import { getCollection } from "astro:content";
import BlogHelo from "../../components/blog/blog-hero.astro";
import Headding from "../../components/Headding.astro";
import Layout from "../../layouts/Layout.astro";

import Pagination from "../../components/pagination.astro";
import PostCard from "../../components/PostCard.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import BlobHeader from "../../components/blob-header.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  const formattedPosts = allPosts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
  );
  return paginate(formattedPosts, { paginateSize: 6 });
  // const allPosts = await getCollection("blog");
  // const formattedPosts = formatBlogPosts(allPosts);
  // return paginate(formattedPosts, { pageSize: 6 });
}
const { page } = Astro.props;

---

<Layout title="Blog">
  <Headding text="Blog" />
  <BlogHelo />
  <SectionContainer class="xl:py-14" aria-label="New Blog Posts">
    <div class="grid gap-4 xl:grid-cols-3 mb-10">
      {
        page.data.map((post) => (
          <PostCard
            title={post.data.title}
            url={`/posts/${post.slug}/`}
            image={post.data.image}
            description={post.data.description}
            authorImage={post.data.authorImage}
            author={post.data.author}
            tag={post.data.tag}
          />
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </SectionContainer>
</Layout>
