---
import type { GetStaticPaths } from "astro";
import Analytics from "../../components/Analytics.astro";
import BaseHead from "../../components/BaseHead.astro";
import BlogHelo from "../../components/blog/blog-hero.astro";
import Footer from "../../components/Footer.astro";
import Headding from "../../components/Headding.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import { any } from "astro:schema";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tag || []).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      (post.data.tag || []).includes(tag)
    );
    return {
      params: { tag },
      props: { page: filteredPosts },
    };
  });
}

const { page } = Astro.props as { page: any };
const { tag } = Astro.params;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title="Blog"
      description="Blog de Innovadores Conocedores Experimentados Consultores Sobre todo, somos un grupo de profesionales que llevamos la transformación digital como una verdadera pasión al servicio de tu empresa."
    />
  </head>
  <body>
    <Analytics />
    <Header />
    <main>
      <Headding text="Blog" />
      <BlogHelo />

      <p>Posts con etiquetas {tag}</p>
      <ul
        id="postList"
        class="grid grid-cols-1 grid-rows-auto gap-10 lg:grid-cols-3 my-10">
        {
          page.data.map((post) => (
            <PostCard
              title={post.data.title}
              url={`/blog/${post.slug}/`}
              image={post.data.image}
              description={post.data.description}
              authorImage={post.data.authorImage}
              author={post.data.author}
              tag={post.data.tag}
              iconTag={post.data.iconTag}
            />
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
