---
interface Props {
  text?: string;
  href: string;
  class?: string;
  target?: string;
  rel?: string;
}

const { text, href, target, rel, ...rest } = Astro.props as Props;
---

<a
  href={href}
  class={`${Astro.props.class} bg-black text-xkale text-xl px-3 py-1.5 rounded-lg uppercase`}
  target={target}
  rel={rel}
  {...rest}>
  {text}
</a>
