---
interface Props {
  url: string;
  title: string;
  image: {
    src: string;
    alt: string;
  };
  description: string;
  authorImage: string;
  author: string;
  tag: string;
  iconTag: string;
}

const { url, title, image, description, authorImage, author, tag, iconTag } =
  Astro.props;
---

<li class="">
  <a href={url} class="block">
    <article class="w-full shadow-2xl">
      <div class="w-full overflow-hidden h-[300px]">
        <img
          class="w-full h-full object-cover"
          src={image.src}
          alt={image.alt}
        />
      </div>
      <div class="flex justify-between px-4 py-3 h-[50px]">
        <img src={iconTag} alt="" />
        <span>{tag}</span>
      </div>
      <div class="px-4 py-3 h-[150px]">
        <h3 class="font-bold text-lg">{title}</h3>
        <p
          class="text-nowrap overflow-hidden text-ellipsis max-w-[600px]"
          id="texto">
          {description}
        </p>
      </div>
      <div class="flex justify-between px-4 py-3 items-center h-[50px]">
        <figure class="size-8 rounded-full overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src={authorImage}
            alt={author}
          />
        </figure>
        <span class="capitalize font-semibold">{author}</span>
      </div>
    </article>
  </a>
</li>

<style>
  @tailwind components;
  @layer components {
    .paragraph {
      @apply flex-nowrap overflow-hidden text-ellipsis max-w-[300px];
    }
  }
</style>

<script>
  // No es necesario TypeScript específicamente para limitar el texto en una etiqueta <p>, ya que esto se puede hacer directamente con HTML y CSS. Sin embargo, si necesitas manipular el contenido dinámicamente con TypeScript, puedes hacerlo de esta manera:

  // Obtener la etiqueta <p> por su id
  const textoElement = document.getElementById("texto");

  // Obtener el texto actual
  let texto = textoElement.textContent;

  // Verificar la longitud del texto
  const maxCaracteres = 50; // Cambia este valor al máximo deseado
  if (texto.length > maxCaracteres) {
    // Limitar el texto a la cantidad máxima de caracteres
    texto = texto.substring(0, maxCaracteres);
    // Agregar puntos suspensivos al final del texto
    texto += "...";
  }

  // Actualizar el contenido de la etiqueta <p>
  textoElement.textContent = texto;
</script>
