---
import type { CollectionEntry } from "astro:content";
import BlobHeader from "../components/blob-header.astro";
import Headding from "../components/Headding.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"posts">["data"];
const { title, date, author, description } = Astro.props;
---

<Layout title={`Blog | ${title}`} description={description}>
  <Headding text="Blog" />
  <BlobHeader {title} {date} {author} />
  <SectionContainer class="px-4 py-4 xl:py-[3.25rem]">
    <div class="flex flex-col py-4 xl:flex-row gap-x-4">
      <div
        class="xl:w-[80%] max-w-none prose prose-a:no-underline prose-p:text-xl prose-h1:font-bold prose-h1:text-balance prose-h1:text-xkale prose-h1:text-5xl prose-h2:text-balance prose-h2:text-xkale prose-h2:text-3xl prose-h2:uppercase prose-h3:text-xkale prose-h3:text-2xl prose-h3:uppercase">
        <slot />
      </div>
      <aside
        class="xl:w-[20%] flex flex-col items-center"
        aria-label="Categorías">
        <h2 class="my-[0.83rem] text-3xl font-bold">Sugerencias</h2>
        <!-- <CategoyCloud showCount={true} /> -->
      </aside>
    </div>
  </SectionContainer>
</Layout>
